*{
    font-family: "CustomFont";
    src: url("fonts/VIOLA.otf");
}
.container{
  display:block;
}

body {
    background-image: url('img/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbarPrimary {
    background-color: #87CEFA;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 2.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 2.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
} 

@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

.slide-top {
    -webkit-animation: slide-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
 }
 @-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-opacity:   0%;
            opacity:   0%;
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    -webkit-opacity:   100%;
            opacity:   100%;
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-opacity:   0%;
            opacity:   0%;
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    -webkit-opacity:   100%;
            opacity:   100%;
  }
}

.cim{
  padding-top: 10px;
  font-size: 100px;
  text-shadow: 3px 5px 2px #474747;
}