*{
    font-family: "CustomFont";
    src: url("fonts/VIOLA.otf");
}
.bg-img {
    height: 80vh;
    background-image: url('img/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
}
.bg-text {
    height: 80vh;
    display:flex;
    position: absolute;
    align-items:center;
    justify-content: center;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
    z-index: 2;
}
.navbarPrimary {
    background-color: #87CEFA;
}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 2.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 2.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
} 
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }